
/* Chèn font bên ngoài */
@font-face {
    font-family: ganh;
    src: url(font/Ganh/Ganh\ Type\ -\ Regular.otf);
    font-style: normal;
    src: url(font/Ganh/Ganh\ Type\ -\ RegularItalic.otf);
    font-style: italic;
}

@font-face {
    font-family: ganh-thin;
    src: url(font/Ganh/Ganh\ Type\ -\ Thin.otf);
    font-style: normal;
    src: url(font/Ganh/Ganh\ Type\ -\ ThinItalic.otf);
    font-style: italic;
}





/* Khi nhấn vào icon sẽ cuộn lên đầu trang 1 cách mượt mà */
html {
    scroll-behavior: smooth;
}
/* Định dạng nền, font chữ mặc định*/
body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    font-family: ganh;
}

/* Định dạng thanh cuộn bên phải trang */
body::-webkit-scrollbar{
    width: 2px;
}

/* Định dạng thanh điều hướng*/
.nav-bar {
    width: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 5vw;
    top:20px;
    z-index: 999; /* Thêm dòng này để thanh điều hướng luôn nằm trên nội dung*/
    transition: 0.5s;
}
.nav-bar nav{
    background-color: transparent;
    width: 100%;
    border-radius: 50px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(0px);
    height: 100%;
    transition: 0.5s;
}

.nav-button {
    display: none;
}

.nav-bar img {
    height: 70%;
    opacity: 80%;
    border-radius: 25%;
    transition: 0.15s ease-out;
}
.nav-bar ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}
.nav-bar li {
    align-items: center;
}
.nav-bar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.25vw;
    position: relative;
    text-shadow: 2px 2px 5px black;
    transition: 0.25s ease-in-out;
}

.logo a {
    height: 100%;
}

.link-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.link {
    display: flex;
    height: 100%;
}

.link a {
    height: 50%;
}

/* Thêm Underline dưới các liên kết trên thanh điều hướng + hiệu ứng khi di chuột */
.link a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
}
.link a:hover {
    transform: translateY(-3px);
}
.link a:hover::after {
    transform: scaleX(1);
}
.logo img:hover {
    height: 65%;
    transition: 0.15s ease-out;
}

/* Định dạng banner đầu trang */
.poster {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position relative giúp các thành phần con của nó có thể chỉnh vị trí dựa trên nó */
    position: relative; 
}
.poster-ring{
    width: 50%;
    transform: translateY(-10%);
}
.poster-img {
    width: 50%;
    /* position absolute: có thể điều chỉnh vị trí dựa trên thành phần mẹ có thuộc tính position relative */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.poster p {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
    font-size: 2vw;
}

/* Định dạng khối chứa nội dung chính */
.content {
    margin: 0 8% 0 8%;
    background-color: #000612;
    height: auto;
    offset-position: normal;
    padding: 125px 10% 125px 10%;
    border-radius: 15px;
    transform: translateY(-100px);
}

/* Định dạng tiêu đề nội dung chính */
.content h1 {
    margin: 0;
    color: white;
    font-size: 2.5vw;
}

/* Định dạng văn bản nội dung chính */
.content p {
    color: white;
    font-size: 1.5vw;
}

/* display flex giúp các khối nội dung nằm ngang hàng nhau */
.content-block {
    display: flex;
}

/* Định dạng văn bản giới thiệu */
.introduction p {
    margin-right: 8%;
    width: 45%;
}

/* Định dạng các khối nội dung trái và phải */
.content-block-left {
    margin: 0;
    width: 50%;
}
.content-block-right {
    margin: 0;
    width: 50%;
    text-align: right;
}

/* Định dạng video */
.content video {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    transform: translateY(-10px)
}

/* Định dạng ảnh */
.content img {
    width: 80%;
    border-radius: 20px;
}

/* Thụt lề trên */
.main-content {
    margin-top: 125px;
}

/* Định dạng tên kênh + tên người dùng Discord */
.discord-format {
    background-color: rgba(65,70,118,.8);
    color: rgb(201,205,251);
}

/* Định dạng chân trang */
.footer {
    display: flex;
    justify-content: space-between;
    height: 4vw;
}

.footer p {
    margin-left: 2vw;
    font-size: 1vw;
    color: white;
    height: 100%;
}

.footer a {
    text-decoration: none;
}

.footer i {
    height: 3vw;
    width: 3vw;
    margin-right: 3vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: white;
    font-size: x-large;
    border: white 2px solid;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.footer i::after {
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(0% at 50% 50%);
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.footer i:hover::after {
    clip-path: circle(100% at 50% 50%);
    transition: 0.5s ease-in-out;
}

.footer i:hover {
    color: #000612;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 480px){
    body {
        margin: 0;
    }

    .poster {
        margin-top: 10vh;
    }

    .nav-bar{
        width: 90%;
        margin: 0 5% 0 5%;
        height: 10%;
        justify-content: flex-start
        
    }

    #navigation {
        display: flex;
        align-items: center;
        background-color: rgba(255,255,255,.05);
        backdrop-filter: blur(5px);
    }
    .nav-bar nav ul{
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
    }

    .link-group {
        position: absolute;
        top: -50%;
        right: -50%;
        flex-direction: column;
        display: flex;
        height: 100vh;
        width: 25vw;
        transition: 0.5s ease-in-out;
        justify-content: flex-start;
        background-color: rgba(0,6,18,.8);
        padding-top: 7vh;
    }

    .link {
        height: 8%;
        position: relative;
    }

    .link-group a {
        position: absolute;
        right: -20%;
        text-align: right;
    }

    .nav-button {
        display: contents;
        transition: 0.5s ease-in-out;
        
    }
    
    .nav-button button, i{
        background: transparent;
        border-color: transparent;
        color: white;
        font-size: 3vh;
        display: flex;
        align-items: center;
        transition: 0.25s ease-in-out;
    }

    #nav-button-hide {
        align-self: flex-start;
    }
    
    #nav-button-hide button {
        margin-bottom: 2vh;
        margin-left: 1vh;
    }



    .nav-bar nav ul li a {
        font-size: 3vw;
    }
    #navigation{
        /* flex-direction: column; */
        justify-content: space-between;
    }
    #logo {
        width: 8vw;
        height: auto;
    }
    .content {
        transform: translateY(0);
        padding-top: 10%;
        padding-bottom: 2vh;
    }
    .introduction p {
        width: 100%;
        margin-bottom: 10vh;
    }
    .content h1 {
        font-size: 4.5vw;
    }
    .content p {
        font-size: 3vw;
    }

    .content-block {
        flex-direction: column;
    }
    .content-block-left, .content-block-right{
        width: 100%;
        margin-bottom: 5vw;
        font-size: 10vw;
        align-items: center;
        justify-content: center;
    }
    .content img {
        width: 100%;
    }
    iframe {
        width: 100% !important;
    }
    .footer {
        height: 10vh;
        margin-top: 3vh;
    }
    .footer p {
        margin-left: 3vw;
        font-size: 2vh;
    }
    .footer i {
        height: 5vh;
        width: 5vh;
    }    
}